* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

.vertical-center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}