* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

.vertical-center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rich-text-editor .ql-align-center > img {
    margin: auto;
}

.rich-text-editor .ql-align-right > img {
    margin-left: auto;
}

.collapse-item {
    border-left: 1px solid #e6e6e6;
}